h1{
   
    color:gold;
    font-weight: bold;
    font-style: italic;
    font-family: fantasy;
    font-size: 44cm;
    box-shadow: 2px 2px 2px black;
    text-shadow: 1px 1px black;
}




#navFor{
    color:darkblue !important;
    font-family: fantasy !important;
    font-size: 24px !important;
    box-shadow: 2px 2px 2px black;
    text-shadow: 1px 1px black;
}


.d-flex input[type="search"]{
    padding: 0.29cm;
    width: 8.89cm;
    margin-left: 16.89cm;
}


h2{
    font-size:27px ;
    color: gold;
    font-family: fantasy;
    
    text-shadow: 1px 1px black;

}

p{
    color:#0d6efd;
}

.buttons input[type="submit"]{
    font-size: 0.47cm;
    background:gold;
    border:0;
    margin-bottom: 1cm;
    color:#ffffff;
    padding: 0.2cm 0.6cm;
    box-shadow: 2px 2px 2px black;
    text-shadow: 1px 1px black;

   }
   .accordion-button, .accordion-body {
    background-color:white !important;
    box-shadow: 2px 2px 2px black;
    text-shadow: 1px 1px black;
}.accordion-button {
    box-shadow: initial !important;
}

.accordion-item {
    border: 0px;
    margin-bottom: 10px;
    font-size: 15px;
}

.imagem{
     
    background-image: url("https://free4kwallpapers.com/uploads/originals/2020/09/09/computer-*-wallpaper.png") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: fixed !important;
    background-attachment: fixed !important; 
    width: 80.11cm;
    height: 102.11cm;
   }


   .nome{
    margin-top: 0.23cm;
    color: gold;

    font-size: 19px;
}
.nome input[type="name"]{
    padding: 0.4cm;
    border:1px solid #380b64;
    box-shadow: 2px 2px 2px rgb(61, 55, 55);
    font-weight: bold;
    font-style: italic;
    font-family: fantasy;
}

body{
   
    
    font-weight: bold;
    font-style: italic;
    font-family: fantasy;
}

.Cadastro{
    margin-top: 0.23cm;
    color: gold;

    font-size: 19px;
}
.Cadastro input[type="email"]{
    padding: 0.4cm;
    border:1px solid #380b64;
    box-shadow: 2px 2px 2px rgb(61, 55, 55);
    font-weight: bold;
    font-style: italic;
    font-family: fantasy;
}


.Cadastro input[type="password"]{
    padding: 0.4cm;
    border:1px solid #380b64;
    box-shadow: 2px 2px 2px rgb(61, 55, 55);
    font-weight: bold;
    font-style: italic;
    font-family: fantasy;
}

.Origins{
    margin-top: 0.23cm;
    color: gold;

    font-size: 19px;
}

.Origins input[type="text"]{
    padding: 0.4cm;
    border:1px solid #380b64;
    box-shadow: 2px 2px 2px rgb(61, 55, 55);
    font-weight: bold;
    font-style: italic;
    font-family: fantasy;
}

.Numero{
    margin-top: 0.23cm;
    color: gold;

    font-size: 19px;
}

.Numero input[type="Number"]{
    padding: 0.4cm;
    border:1px solid #380b64;
    box-shadow: 2px 2px 2px rgb(61, 55, 55);
    font-weight: bold;
    font-style: italic;
    font-family: fantasy;
}

.Data{
    margin-top: 0.23cm;
    color: gold;

    font-size: 19px;
}

.Data input[type="date"]{
    padding: 0.4cm;
    border:1px solid #380b64;
    box-shadow: 2px 2px 2px rgb(61, 55, 55);
    font-weight: bold;
    font-style: italic;
    font-family: fantasy;
}


.Estado-Civil{
    margin-top: 0.23cm;
    color: gold;

    font-size: 19px;
}

select{
    padding: 0.4cm;
    border:1px solid #380b64;
    box-shadow: 2px 2px 2px rgb(61, 55, 55);
    font-weight: bold;
    font-style: italic;
    font-family: fantasy;
}


.Sexo{
    margin-top: 0.23cm;
    color: gold;

    font-size: 19px;
}

.Sexo input[type="radio"]{
    padding: 0.4cm;
    border:1px solid #380b64;
    box-shadow: 2px 2px 2px rgb(61, 55, 55);
    font-weight: bold;
    font-style: italic;
    font-family: fantasy;
}

.Passatempo{
    margin-top: 0.23cm;
    color: gold;

    font-size: 19px;
    
}

.Passatempo input[type="checkbox"]{
    padding: 0.4cm;
    border:1px solid #380b64;
    box-shadow: 2px 2px 2px rgb(61, 55, 55);
    font-weight: bold;
    font-style: italic;
    font-family: fantasy;
}

.texto{
    margin-top: 0.23cm;
    color: gold;

    font-size: 19px;
    margin-left: 14px;
    
}

.Lista{
    margin-top: 0.23cm;
    color: gold;

   
    
    font-style: italic;
    font-family: fantasy;
    
}

.Buttons{
    margin-top: 0.43cm;
    margin-left: 10px; 
}

.Buttons input[type="submit"]{
    font-size: 0.47cm;
    background:#59429d;;
    border:0;
    margin-bottom: 1cm;
    color:#ffffff;
    padding: 0.2cm 0.6cm;
    box-shadow: 2px 2px 2px black;
    text-shadow: 1px 1px black;
    
}

    #cep input[type="cep"]{
             
        padding: 0.4cm;
        border:1px solid #380b64;
        box-shadow: 2px 2px 2px rgb(61, 55, 55);
        font-weight: bold;
        font-style: italic;
        font-family: fantasy;
}




